<div class="container" >
	<h1>You need a ******** good bike? Come in and find out at worldsbestbikeshop[at]berlin.de</h1>
	<hr>
	<h2>Contact Us</h2>

	<%= flash[:notice] %>

	<%= form_tag("/static_pages/thank_you") do %>
	  <div class="form-group row">
	    <div class="col-sm-4 col-md-offset-4">
	      <div class="form-group">
	        <%= label_tag :name %>
	        <%= text_field_tag :name, nil, class: 'form-control', placeholder: "Enter Name", :required => true %>
	      </div>        
	      <div class="form-group">
	        <%= label_tag :email, "Email Address" %>
	        <%= text_field_tag :email, nil,  class: "form-control", placeholder: "Enter Email", :required => true %>
	      </div>
	      <div class="form-group">
	        <%= label_tag :message %>
	        <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message", :required => true %>
	      </div>        
	    </div>
	  </div>
	  <%= submit_tag "Send", class: "btn btn-primary send-button" %>   
	<% end %>
</div>