<!-- Project -->
<div class="row">
  <div class="col-md-6">
    <%= image_tag(product.image_url, class: "img-responsive img-zoom", data_zoom_image: product.image_url) %>
  </div>
  <% cache product do %>
	  <div class="col-md-6">
	  	<div class="prod-main">
	  		<h3>Get a <strong><%= product.name %></strong> bike for only <%= product.price %></h3>
	  		<div class="mybtn">
	  			<%= link_to "Find out more", product, :class => 'btn btn-default mybtn1' %><%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-default mybtn1' %><%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default mybtn1' %>
	  		</div>
	  		
	  	</div>
	  </div>
	<% end %>
</div>
<!-- /.row -->

<hr>