<% if notice %>
  <p id="notice" class="alert alert-warning"><%= notice %></p>
<% end %>

<% if alert %>
  <p id="alert" class="alert alert-danger"><%= alert %></p>
<% end %>

<% cache @product do %>

<div class="container">
  <div class="row" data-product-id="<%= @product.id%>">
    <div class="col-md-12 col-lg-12 col-xs-12">
      <div>
        <h2><strong><%= @product.name %> Bike</strong></h2>
      </div>
      <div>
        <%= image_tag(@product.image_url, class: "img-responsive prod-img") %>
      </div>
      <div>
        <h3><strong>Description</strong></h3>
        <p class="description-text"><%= @product.description %></p>
      </div>
      <div class="row cpc">
        <div class="col-md-4">
          <h3 class="cpc-text">Color: <%= @product.color %></h3>
        </div>  
        <div class="col-md-4">
          <h3 class="cpc-text">Price: <%= @product.price %></h3>
        </div>
        <div class="col-md-4">
          <%= form_with(url: '/payments/create') do |form| %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>
        </div>
      </div>
<% end %>

      <div class="cpc">
        <p>This product has an average rating of <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> stars.</p>
        <p>The highest rating is:</p>
        <% if @product.highest_rating_comment %>
        <p><%= @product.highest_rating_comment.body %></p>
        <% end %>
      </div>

      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

      <%= render "new_comment" %>

      <%= render "comments" %>

      <div class="page-direct">
        <%= will_paginate @comments, :page_links => false, class: "btn btn-default btn-xs" %>
      </div>      

      <div class="page-direct">
        <h6>Our product has <span class="badge"><%= @product.views %></span> Views in total.</h6>
      </div>      
      <hr>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default btn-xs" %>
<%= link_to 'Back', products_path, class: "btn btn-default btn-xs" %>