<!DOCTYPE html>
<html>
  <head>
    <title>Emily</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="header-bike-left">
            <a href="../static_pages/index"><span class="glyphicon glyphicon-home"></span>Bike Berlin | Home</a>
          </div>
        </div> <!-- navbar-header ends here -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'About', static_pages_about_path %></li>
            <li><%= link_to 'Products', products_path %></li> <!-- thx to Omar -->
            <li><%= link_to 'Contact', static_pages_contact_path %></li>
            <li><a href="#">Service</a></li>
            <li><%= link_to 'MaiksBlog', "https://maiksblog.herokuapp.com", :target => "_blank" %></li>

            <!-- Authentication Button -->
            <li>
              <% if user_signed_in? %>
               <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path) %>
              <% end %>
            </li>

            <!-- Search Box -->
            <%= form_tag("/products", method: "get", class:"navbar-form navbar-right") do %> 
              <div class="form-group">
                <%= label_tag(:q, "Search for:", class:"hidden") %>
                <%= text_field_tag(:q, "", type:"text", class:"form-control", placeholder:"Search") %>
              </div>
            <%= submit_tag("Search", class:"btn btn-default") %>
            <% end %>

          </ul>
        </div> <!-- navbar-collapse ends here -->
      </div> <!-- nav container-fluid ends here -->
    </nav> <!-- navbar ends here -->

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="jumbotron" >
      <center>
        <h1 class="display-3">Welcome to CHM-Town Bike Center</h1>
        <p class="lead">Your source No. 1 for used bikes in Chemnitz</p>
      </center>
    </div>      

    <%= yield %>

    <footer class="container" >
      <p></p>
    	&copy; 2017 Maik Lindner
    </footer>

  </body>
</html>
